<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyDiary3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D5915AB1E548C9E0090B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D5915C41E548CA00090B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D5915CF1E548CA00090B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
